{% load static %}
<div id="home_logo" class="t_center">
    <img src="{% static 'img/logo_bg.png' %}">
    <a href="https://github.com/zffgithub/genshin-bp" target="_blank">
        　　<img style="position: fixed; top: 0; right: 0; border: 0; z-index: 1;width:60px; height:60px;" src="{% static 'img/github_logo.jpg' %}" >
        </a>
        <a href="https://www.huya.com/610477" target="_blank">
            　　<img style="position: fixed;top: 360px; left: 0; border: 0; z-index: 100;width:100px; height:300px;" src="{% static 'img/ad_ban3.png' %}" >
            </a>
            <a href="https://www.huya.com/610477" target="_blank">
                　　<img style="position: fixed;top: 360px; right: 0; border: 0; z-index: 100;width:100px; height:300px;" src="{% static 'img/ad_ban4.png' %}" >
                </a>
</div>